*{
     margin: 0;
     padding: 0;
}
section{

          height: 100vh;
          background-image: url(./img/كنيسة.jpg);
          background-size: cover;
          background-repeat: no-repeat; 
           display: flex;
          justify-content: center;
          align-items: center;
           
}
.button{
     background-color: rgb(0, 195, 255);
     width: 100px;
     text-align: center;
     border-radius: 20px;
     color: white;
     height: fit-content; 
     opacity: .5;
}

#a1{
     position: absolute;
     top: 50%;
     left: 15%;
}
#a2{
     position: absolute;
     top: 50%;
     left: 45%;
}
#a3{
     position: absolute;
     top: 50%;
     left: 75%;
}
img{
     height: 200px;
}
#alhan{
     position: absolute;
     top: 20%;
    left: 10%;
    
}
#kbty{
     position: absolute;
     top: 20%;
     left: 40%;
}
#taks{
     position: absolute;
     top: 20%;
     left: 70%;
}
a{
     text-decoration: none;
     color: white;
     
}
h1:hover{
opacity: 1;

}
#main{
     position: absolute;
     top: 0;
    width: fit-content;
    border-radius: 0;
   
     opacity: 1;
     
}
#arrow{
     position: absolute;
     top: 3%;
     left: 3%;
     height: 100px;
}